<% @courses.each do |course| %>
    <div class="flex_between">
        <%= course.name %>
        <%= link_to 'Enroll', search_path(:course_id => course.id, :user_id => current_user.id),method: :post, class: "btn btn-primary"%>
    </div>
<% end %>