@import "bootstrap";

.navbar-custom {
    background-color: #145acc;
    color: #ffffff;
}

.main_title {
    color: #ffffff;
}

.title {
    margin: 0 auto;
    border-radius: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #145acc;
    padding: 20px;
}

.outer_div {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    background-color: #bfbfbf;
    height: 100%;
    width: 30%;
}

.outer_div_wide {
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 30px;
    background-color: #bfbfbf;
    height: 100%;
    width: 80%;
}

.inner_div {
    margin: 0 auto;
    padding: 50px;
}

.result {
    margin: 10px;
    padding: 50px;
    border-radius: 20px;
    border: solid 1px;
}

.form_input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    display: inline-block;
    border-radius: 10px;
}

.left_column {
    text-align: left;
}

.right_column {
    text-align: right;
}

.flex_between {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

/* forms */
